@charset "utf-8";

body {color:#333;background:#FFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
li {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym {border:0;font-variant:normal;}
sup,sub {line-height:-1px;vertical-align: text-top;}
sub {vertical-align:text-bottom;}
input, textarea, select{font-family:inherit;font-size:inherit;font-weight:inherit;}
address, cite, dfn, em, i, s, strike, code, kbd, listing, samp, tt, var, xmp, sup, sub, big, small{
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
}
select{height:25px; border:1px solid #999;color:#333; padding:1px 1px 1px 0px;margin:0;}

select, input, textarea { font-family: Verdana, Arial, Helvetica, sans-serif; letter-spacing:1px; vertical-align:middle;}
input[type="checkbox"] { margin:0; padding:0; vertical-align:middle;}
input[type="radio"] { margin:0; padding:0; vertical-align:middle;}
input[type="submit"] { vertical-align:middle;}
input[type="text"], input[type="password"] {
	height:21px; line-height:21px;  text-indent:3px; border:1px solid #999;

	/*陰影*/
	-webkit-box-shadow: inset 0px 1px 2px #d4d4d4;
	   -moz-box-shadow: inset 0px 1px 2px #d4d4d4;
			box-shadow: inset 0px 1px 2px #d4d4d4;
}
input[type="text"].arrow_menu{background: url(../img/ill_arrow_search.gif) no-repeat right; cursor:pointer; }/*類目選單用*/
input[type="text"]:hover, input[type="password"]:hover, textarea:hover,select:hover{ background-color:#fefadf;border:1px solid #999;}
input[type="button"], input[type="submit"]{
	cursor:pointer; 
	height:25px; 
	line-height:23px; 
	vertical-align: middle; 
	padding-left:6px; 
	padding-right:6px;
	text-align: center;
	color:#000000;
	display: inline-block; 
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	/*Firefox圓角*/
	-moz-border-radius:3px;
	/* Chrome圓角*/
	-webkit-border-radius: 3px;
	/*陰影*/
	-webkit-box-shadow: 1px 1px 0px 0px #555;
	   -moz-box-shadow: 1px 1px 0px 0px #555;
			box-shadow: 1px 1px 0px 0px #555;
}
input[type="button"]:disabled, input[type="submit"]:disabled { 
	cursor:default; 	
}